body {
    margin: 0;
    font-family: 'Merriweather', serif;
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 490px;
    padding: 20px;
    background: #153244ff;
    color: #ffffff;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
}

#map {
    flex: 1;
    height: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 20px;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.legend i {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    opacity: 0.7;
}

#maxMinStats.hidden {
    display: none;
}

#filters {
    margin-bottom: 20px;
}

#filters h3 {
    margin-bottom: 10px;
}

#filters select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

#export h3 {
    margin-bottom: 10px;
}

#export button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.legend-text {
    font-size: 12px;
    color: #ffffff;
    margin: 10px 0;
}
